<form action="/post/{{post.id}}?_method=PUT" method="POST">

<h1>Edit Your Post</h1>

<input type="text" name="text" placeholder="Enter your posts text" value="{{post.text}}">
<button>Submit</button>
<a href="/">
<button>Cancel</button>
</a>

</form>
