
<section class="column align-center post-output">
    {{#each posts}}
    <div class="post">
        <h3 class="text-center">{{title}}</h3>
        <div class="justify-between">
            <p>{{text}}</p>
            <p>By: {{author.username}}</p>
            <p>On: {{date}}</p>
        </div>
    </div>
    {{/each}}
</section>
