<form action="/register" method="POST">
<h1>Join The Conversation!</h1>

<input type="text" name="username" placeholder="Please enter your username">
<input type="password" name="password" placeholder="Please enter your password">
<button>Submit</button>

</form>